<h1 class="jumbotron">Editar</h1>

<%= render 'form' %>

<!-- <%= link_to 'Show', @vidre %> | -->
<!-- <%= link_to 'Back', vidres_path %> -->

<br>
<!-- <%= link_to "Enrera",vidres_path, :class=>'btn btn-primary btn-block' %> -->

<!-- para que vuelva atras, estemos donde estemos -->
<a href="javascript:history.back()" class="btn btn-primary btn-block">Enrera</a>
