<h1 class="jumbotron">Menú Principal</h1>

<p><a  href="/audits"  class='btn btn-primary btn-block'>Auditories</a></p>
<p><a  href="/trampas" class='btn btn-primary btn-block'>Plantilles de trampes</a></p>

