<h1 class="jumbotron">Menú Qualitat</h1>

<p><a  href="/home/menu_auditories"       class='btn btn-primary btn-block'>Auditories</a></p>
<p><a  href="/controls/planning"     class='btn btn-primary btn-block'>Controls</a></p>
<p><a  href="#"  class='btn btn-danger btn-block'>Validacions</a></p>
</br>
</br>
<p><a  href="/home/index"     class='btn btn-primary btn-block'>Grafiques</a></p>
</br>
</br>
<p><a  href="/home/principal"     class='btn btn-primary btn-block'>Enrera</a></p>