<h1 class="jumbotron">Menú Auditories</h1>

<p><a  href="/audits"       class='btn btn-primary btn-block'>Auditories de Trampes</a></p>
<p><a  href="/auditvs"       class='btn btn-primary btn-block'>Auditories de Vidres/PD/BPH/BPM/FD/E-I</a></p>
</br>
<p><a  href="/home/menu_qualitat"     class='btn btn-primary btn-block'>Enrera</a></p>