<h1 class="jumbotron">Editar Auditoria</h1>

<%= render 'form' %>

<%= link_to 'Veure', @audit , :class=>'btn btn-primary btn-block'%> |
<%= link_to 'Enrera', audits_path, :class=>'btn btn-primary btn-block' %>
