<h1 class="jumbotron">Nova plantilla de trampa</h1>

<p>Controlador:<%= controller_name %></p>
<p>Accion:<%= action_name %></p>

<%= render 'form' %>
</br>
<%= link_to 'Enrera', trampas_path, :class=>'btn btn-primary btn-block' %>
